@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;500;700;900&display=swap');

*, *:after, *:before {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:active, :hover, :focus {
    outline: 0 !important;
    outline-offset: 0;
}

a, a:hover {
    text-decoration: none;
}

a:hover {
    color: var(--primary-color) !important;
}

ul, ol {
    margin: 0;
    padding: 0;
}

/* Variable define  */
:root {
    --primary-color: #A82c48;
    --secondary-color: #43121d;
    --third-color: #f98169;
    --white-color: #fff;
    --text-color: #fff;
    --text-grey: #999;
    --black-color: #000;
    --primary-font: 'Roboto', sans-serif;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: var(--primary-font);
    font-size: 100%;
    font-weight: 400;
}

/* Custome scrollbar */

::-webkit-scrollbar {
    width: 0.625rem;
}

::-webkit-scrollbar-track {
    background: var(--white-color);
}

::-webkit-scrollbar-thumb {
    background: var(--primary-color);
}
#navbarNav .nav-link {
    font-size: 0.9375rem;
    font-weight: 600;
    text-transform: capitalize;
    color: var(--primary-color);
    letter-spacing: 1px;
    font-size: 18px;
}
.main-btn {
    display: inline-block;
    padding: 0.625rem 0.875rem;
    line-height: 1.5625rem;
    border: 0.175rem solid var(--primary-color);
    background-color: var(--primary-color);
    color: var(--white-color);
    font-size: 0.9375rem;
    font-size: 600;
    text-transform: capitalize;
    box-shadow: 0px 2px 10px -1px rgb(0 0 0 / 19%);
    transition: all 0.4 ease-out 0;
    -webkit-transition: all 0.4 ease-out 0;
    -o-transition: all 0.4 ease-out 0;
    -moz-transition: all 0.4 ease-out 0;
    font-family: var(--primary-font);
}
.navbar {
    width: 100%;
    background: var(--white-color);
    box-shadow: 0 0.125rem 1.75rem 0 rgb(0, 0, 0,0.09);
    transition: all ease-in-out 0s;
}
.main-btn:hover {
    background-color: transparent;
    color: var(--primary-color);
}
.multi_btn {
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
}
.multi_btn a{
    color: var(--primary-color);
    font-weight: bold;
    text-decoration: underline;
}
.login .form-control{
    color: var(--primary-color);
    border: 1px solid var(--primary-color);
}
.form-control:focus{
    border-color: var(--primary-color);
}
.floating-label {
    position: relative;
}
.login .fas.fa-eye-slash{
    color: var(--primary-color);
}
.rememberMe label{
    color: var(--primary-color);
}
.floating-label input {
    border: 1px solid var(--primary-color);
    border-radius: 5px;
    outline: none;
    padding: 10px;
    transition: border-color 0.3s, box-shadow 0.3s;
    width: 100%;
}

.floating-label input:focus {
    border-color: var(--primary-color);
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.1);
}

.floating-label label {
    position: absolute;
    top: 0;
    left: 10px;
    pointer-events: none;
    padding: 7px 5px;
    transition: top 0.3s, font-size 0.3s, color 0.3s, background-color 0.3s;
}

.floating-label input:focus+label,
.floating-label input:not(:placeholder-shown)+label {
    top: -20px;
    font-size: 12px;
    color: var(--primary-color);;
    background-color: white;
}
.login .floating-label label{
    color: var(--primary-color);
}
.header {
    background-color: white;
    padding: 10px;
    text-align: center;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.2);
    /* Add box shadow effect */
}
ul.navbar-nav.ml-auto{
    margin-right: 40px;
}

.header-logo {
    margin-right: auto;
    width: 200px;
}
.form_header {
    text-align: center;
    color: var(--primary-color);
    font-weight: bold;
    margin-bottom: 25px;
}
.header a {
    color: var(--primary-color);;
    margin-left: 10px;
    text-decoration: none;
}

.back-button {
    border-radius: 5px;
    padding: 10px 15px;
    transition: background-color 0.3s, color 0.3s;
    width: 100%;
    font-weight: bold;
    color: var(--secondary-color);
    border-color: var(--secondary-color);
    margin-top: 20px;
}

.back-button:hover {
   background-color: var(--secondary-color);
   border-color: var(--secondary-color);
}
